<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hier steht Ihre Werbung!</title>
</head>
<script src="data.js"></script>
<script src="blog.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<div class="container">
	<div class="row">

		<app-header></app-header>
	</div>
</div>
<body>
	<h1>Test</h1>
	<div class="container">
		<div class="row">
			<main class="col-12 col-md-8" id="mainbody">
				<article *ngFor="let a of Artikel">
					<app-artikel [Artikel]="a"></app-artikel>
				</article>


			</main>


			<app-sidebar></app-sidebar>

			<app-footer class="col-12 col-md-8"></app-footer>
		</div>
	</div>
	<script>
		$(document).ready(
				function() {

				
				});
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>